* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative; }

.index-1 {
  width: 3000px;
  height: 3000px; }
  .index-1 img.slide-1-1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50%;
    z-index: 998; }
  .index-1 img.slide-1-2 {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin: auto;
    height: 23%;
    z-index: 1000; }
  .index-1 img.slide-1-3 {
    position: absolute;
    top: 20%;
    left: 70%;
    bottom: 80%;
    right: 30%;
    margin: auto; }
  .index-1 img.slide-1-4 {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: auto; }
  .index-1 img.slide-1-5 {
    position: absolute;
    top: 40%;
    left: 20%;
    margin: auto; }
  .index-1 img.slide-1-6 {
    position: absolute;
    top: 15%;
    left: 40%;
    margin: auto; }
  .index-1 img.slide-1-7 {
    position: absolute;
    top: 20%;
    left: 25%;
    margin: auto;
    z-index: 999; }
  .index-1 img.slide-1-8 {
    position: absolute;
    top: 82%;
    left: 0;
    right: 0;
    margin: auto;
    width: 25%; }
  .index-1 img.slide-1-9 {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: auto;
    height: 40%;
    z-index: 999; }
  .index-1 .word {
    color: white;
    font-family: "SimHei";
    font-size: 26px;
    font-weight: 700;
    width: 300px;
    height: 65px;
    position: absolute;
    top: 76%;
    left: 0;
    right: 0;
    margin: auto; }
    .index-1 .word p:last-child {
      margin-top: 5px; }

.index-2 {
  width: 3000px;
  height: 3000px; }
  .index-2 .vertical-center {
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%; }
    .index-2 .vertical-center .page-2-1 {
      height: 400px;
      width: 180px;
      margin-left: 12%;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-2 .vertical-center .page-2-1 #go {
        position: absolute;
        top: 30px;
        left: 40px;
        height: 100px; }
      .index-2 .vertical-center .page-2-1 #just {
        position: absolute;
        top: 110px;
        left: 80px;
        height: 60px; }
      .index-2 .vertical-center .page-2-1 #play {
        position: absolute;
        top: 172px;
        left: 43px;
        width: 80px; }
        .index-2 .vertical-center .page-2-1 #play:hover {
          cursor: pointer; }
    .index-2 .vertical-center .page-2-2 {
      height: 640px;
      width: 350px;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-2 .vertical-center .page-2-2 #iphone {
        position: absolute;
        top: 10%;
        left: 40px;
        width: 220px; }
      .index-2 .vertical-center .page-2-2 .iphone-content {
        width: 193px;
        height: 341px;
        position: relative;
        margin-left: 54px;
        margin-top: 117px; }
        .index-2 .vertical-center .page-2-2 .iphone-content #xxxx {
          height: 22px;
          margin-top: 10px; }
        .index-2 .vertical-center .page-2-2 .iphone-content #avatar {
          position: absolute;
          width: 30px;
          top: 70px;
          left: 10px; }
        .index-2 .vertical-center .page-2-2 .iphone-content #square-1 {
          position: absolute;
          width: 40px;
          top: 76px;
          left: 45px; }
        .index-2 .vertical-center .page-2-2 .iphone-content #square-2 {
          position: absolute;
          width: 29px;
          top: 90px;
          left: 45px; }
        .index-2 .vertical-center .page-2-2 .iphone-content #iphone-content-p1, .index-2 .vertical-center .page-2-2 .iphone-content #iphone-content-p2, .index-2 .vertical-center .page-2-2 .iphone-content #iphone-content-p3 {
          position: absolute;
          height: 14px;
          top: 104px;
          left: 10px; }
        .index-2 .vertical-center .page-2-2 .iphone-content #iphone-content-img1, .index-2 .vertical-center .page-2-2 .iphone-content #iphone-content-img2, .index-2 .vertical-center .page-2-2 .iphone-content #iphone-content-img3 {
          position: absolute;
          width: 168px;
          top: 122px;
          left: 12px; }
      .index-2 .vertical-center .page-2-2 #shadow-2 {
        position: absolute;
        bottom: 15%;
        left: 50px;
        width: 200px; }
    .index-2 .vertical-center .page-2-3 {
      height: 640px;
      width: 300px;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-2 .vertical-center .page-2-3 #circle-1 {
        position: absolute;
        top: 20%;
        left: 0;
        width: 80px; }
        .index-2 .vertical-center .page-2-3 #circle-1:hover {
          cursor: pointer; }
      .index-2 .vertical-center .page-2-3 #circle-2 {
        position: absolute;
        top: 40%;
        left: 0;
        width: 80px; }
        .index-2 .vertical-center .page-2-3 #circle-2:hover {
          cursor: pointer; }
      .index-2 .vertical-center .page-2-3 #circle-3 {
        position: absolute;
        top: 60%;
        left: 0;
        width: 80px; }
        .index-2 .vertical-center .page-2-3 #circle-3:hover {
          cursor: pointer; }
      .index-2 .vertical-center .page-2-3 #right-p1 {
        position: absolute;
        top: 22.5%;
        left: 100px;
        height: 45px; }
      .index-2 .vertical-center .page-2-3 #right-p2 {
        position: absolute;
        top: 42.5%;
        left: 100px;
        height: 45px; }
      .index-2 .vertical-center .page-2-3 #right-p3 {
        position: absolute;
        top: 62.5%;
        left: 100px;
        height: 45px; }

.index-3 {
  width: 3000px;
  height: 3000px; }
  .index-3 .vertical-center {
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%; }
    .index-3 .vertical-center .page-3-1 {
      height: 400px;
      width: 180px;
      margin-left: 12%;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-3 .vertical-center .page-3-1 .slide-3-1 {
        position: absolute;
        top: 20px;
        left: 40px;
        height: 140px; }
      .index-3 .vertical-center .page-3-1 .slide-3-2 {
        position: absolute;
        top: 65px;
        left: 80px;
        height: 160px; }
      .index-3 .vertical-center .page-3-1 .slide-3-3 {
        position: absolute;
        top: 155px;
        left: 83px;
        height: 23px; }
    .index-3 .vertical-center .page-3-2 {
      height: 640px;
      width: 350px;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-3 .vertical-center .page-3-2 #iphone-2 {
        position: absolute;
        top: 10%;
        left: 40px;
        width: 220px; }
      .index-3 .vertical-center .page-3-2 .iphone-content {
        width: 193px;
        height: 341px;
        position: relative;
        margin-left: 54px;
        margin-top: 117px; }
        .index-3 .vertical-center .page-3-2 .iphone-content .p3-top {
          width: 192px;
          height: 67px;
          position: relative;
          float: left; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-top #xxxx-2 {
            height: 12px;
            padding-top: 15px; }
        .index-3 .vertical-center .page-3-2 .iphone-content #heart {
          position: absolute;
          top: 46px;
          right: 12px;
          width: 16px; }
        .index-3 .vertical-center .page-3-2 .iphone-content #ufo {
          position: absolute;
          top: -1px;
          left: -1px;
          width: 194px;
          z-index: 999; }
        .index-3 .vertical-center .page-3-2 .iphone-content .p3-left {
          width: 36px;
          height: 250px;
          position: relative;
          float: left; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-left #c1, .index-3 .vertical-center .page-3-2 .iphone-content .p3-left #c2 {
            position: absolute;
            left: 5px;
            width: 90%; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-left #c1 {
            top: 20px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-left #c2 {
            top: 110px; }
        .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid {
          width: 120px;
          height: 250px;
          float: left;
          position: relative; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m1, .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m3 {
            position: absolute;
            left: 3px;
            width: 110px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m2, .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m4, .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m5 {
            position: absolute;
            left: 8px;
            width: 110px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m1 {
            top: 20px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m2 {
            top: 65px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m3 {
            top: 110px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m4 {
            top: 155px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-mid #m5 {
            top: 200px; }
        .index-3 .vertical-center .page-3-2 .iphone-content .p3-right {
          width: 36px;
          height: 250px;
          float: left;
          position: relative; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-right #c3, .index-3 .vertical-center .page-3-2 .iphone-content .p3-right #c4, .index-3 .vertical-center .page-3-2 .iphone-content .p3-right #c5 {
            position: absolute;
            left: 0;
            width: 90%; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-right #c3 {
            top: 65px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-right #c4 {
            top: 155px; }
          .index-3 .vertical-center .page-3-2 .iphone-content .p3-right #c5 {
            top: 200px; }
      .index-3 .vertical-center .page-3-2 #shadow-3 {
        position: absolute;
        bottom: 15%;
        left: 50px;
        width: 200px; }
    .index-3 .vertical-center .page-3-3 {
      height: 640px;
      width: 300px;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-3 .vertical-center .page-3-3 .slide-3-6 {
        position: absolute;
        top: 38%;
        left: 0px;
        height: 45px; }
      .index-3 .vertical-center .page-3-3 .slide-3-7 {
        position: absolute;
        top: 46%;
        left: 0px;
        height: 45px; }

.index-4 {
  width: 3000px;
  height: 3000px; }
  .index-4 .vertical-center {
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%; }
    .index-4 .vertical-center .page-4-1 {
      height: 400px;
      width: 180px;
      margin-left: 12%;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-4 .vertical-center .page-4-1 .slide-4-1 {
        position: absolute;
        top: 20px;
        left: 48px;
        width: 28px; }
      .index-4 .vertical-center .page-4-1 .slide-4-2 {
        position: absolute;
        top: 65px;
        left: 85px;
        width: 28px; }
      .index-4 .vertical-center .page-4-1 .slide-4-3 {
        position: absolute;
        top: 125px;
        left: 75px;
        width: 50px;
        z-index: 999; }
      .index-4 .vertical-center .page-4-1 .slide-4-4 {
        position: absolute;
        top: 151px;
        left: 57px;
        height: 85px;
        z-index: 998; }
    .index-4 .vertical-center .page-4-2 {
      height: 640px;
      width: 350px;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-4 .vertical-center .page-4-2 #iphone-3 {
        position: absolute;
        top: 10%;
        left: 40px;
        width: 220px; }
      .index-4 .vertical-center .page-4-2 .iphone-content {
        width: 193px;
        height: 341px;
        position: relative;
        margin-left: 54px;
        margin-top: 117px; }
        .index-4 .vertical-center .page-4-2 .iphone-content .iphone-content-4-1 {
          margin-top: 9px;
          height: 20px; }
        .index-4 .vertical-center .page-4-2 .iphone-content #toggle {
          position: absolute;
          top: 100px;
          left: 66px;
          height: 80px; }
        .index-4 .vertical-center .page-4-2 .iphone-content .iphone-content-4-3 {
          position: absolute;
          top: 181px;
          left: 70px;
          width: 50px; }
        .index-4 .vertical-center .page-4-2 .iphone-content .iphone-content-4-4 {
          position: absolute;
          bottom: 58px;
          left: 53px;
          width: 25px; }
        .index-4 .vertical-center .page-4-2 .iphone-content .iphone-content-4-5 {
          position: absolute;
          bottom: 61px;
          left: 78px;
          height: 17px; }
        .index-4 .vertical-center .page-4-2 .iphone-content .iphone-content-4-6 {
          position: absolute;
          bottom: 13px;
          left: 10px;
          height: 35px; }
      .index-4 .vertical-center .page-4-2 #shadow-4 {
        position: absolute;
        bottom: 15%;
        left: 50px;
        width: 200px; }
    .index-4 .vertical-center .page-4-3 {
      height: 640px;
      width: 300px;
      position: relative;
      float: left;
      top: -50%;
      left: -50%; }
      .index-4 .vertical-center .page-4-3 .slide-4-7 {
        position: absolute;
        top: 38%;
        left: 0px;
        height: 20px; }
      .index-4 .vertical-center .page-4-3 .slide-4-8 {
        position: absolute;
        top: 42%;
        left: 0px;
        height: 20px; }
      .index-4 .vertical-center .page-4-3 .slide-4-9 {
        position: absolute;
        top: 46%;
        left: 0px;
        height: 20px; }
      .index-4 .vertical-center .page-4-3 .slide-4-10 {
        position: absolute;
        top: 50%;
        left: -80px;
        height: 75px; }
      .index-4 .vertical-center .page-4-3 .slide-4-11 {
        position: absolute;
        top: 54%;
        left: -22px;
        height: 28px; }

.index-5 {
  width: 3000px;
  height: 3000px; }
  .index-5 .page-5 {
    position: absolute;
    width: 500px;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .index-5 .page-5 .slide-5-2 {
      height: 50px;
      margin-top: 30px; }

.next-btn {
  position: absolute;
  height: 70px;
  bottom: 0;
  right: 20%; }

.swiper-slide-visible .slide-1-1 {
  -webkit-animation: bounceIn 1s ease-out 0s both;
  animation: bounceIn 1s ease-out 0s both; }
.swiper-slide-visible .slide-1-2 {
  -webkit-animation: bounceInDown 1.2s ease-out 0.2s both;
  animation: bounceInDown 1.2s ease-out 0.2s both; }
.swiper-slide-visible .slide-1-3 {
  -webkit-animation: fadeInLeft 5s ease-out 0s both;
  animation: fadeInLeft 5s ease-out 0s both; }
.swiper-slide-visible .slide-1-4 {
  -webkit-animation: fadeInLeft 10s ease-out 0s both;
  animation: fadeInLeft 10s ease-out 0s both; }
.swiper-slide-visible .slide-1-5 {
  -webkit-animation: fadeInLeft 7s ease-out 0.2s both;
  animation: fadeInLeft 7s ease-out 0.2s both; }
.swiper-slide-visible .slide-1-6 {
  -webkit-animation: fadeInLeft 9s ease-out 0.3s both;
  animation: fadeInLeft 9s ease-out 0.3s both; }
.swiper-slide-visible .slide-1-7 {
  -webkit-animation: fadeInLeft 12s ease-out 0.5s both;
  animation: fadeInLeft 12s ease-out 0.5s both; }
.swiper-slide-visible .slide-1-8 {
  -webkit-animation: fadeIn 1s ease-out 0.5s both;
  animation: fadeIn 1s ease-out 0.5s both; }
.swiper-slide-visible .slide-1-9 {
  -webkit-animation: fadeInUp 1s ease-out 0.2s both;
  animation: fadeInUp 1s ease-out 0.2s both; }
.swiper-slide-visible .word p:nth-child(1) {
  -webkit-animation: bounceInLeft 1s ease-out 1s both;
  animation: bounceInLeft 1s ease-out 1s both; }
.swiper-slide-visible .word p:nth-child(2) {
  -webkit-animation: bounceInRight 1s ease-out 1.3s both;
  animation: bounceInRight 1s ease-out 1.3s both; }

.swiper-slide-visible .slide-2-1 {
  -webkit-animation: bounceInDown 0.7s ease-out 0s both;
  animation: bounceInDown 0.7s ease-out 0s both; }
.swiper-slide-visible .slide-2-2 {
  -webkit-animation: bounceInDown 1s ease-out 0.2s both;
  animation: bounceInDown 1s ease-out 0.2s both; }
.swiper-slide-visible .slide-2-3 {
  -webkit-animation: rotateIn 1s ease-out 0.7s both;
  animation: rotateIn 1s ease-out 0.7s both; }
.swiper-slide-visible .slide-2-5 {
  -webkit-animation: rotateIn 1s ease-out 1.3s both;
  animation: rotateIn 1s ease-out 1.3s both; }
.swiper-slide-visible .slide-2-6 {
  -webkit-animation: rotateIn 1s ease-out 1.8s both;
  animation: rotateIn 1s ease-out 1.8s both; }
.swiper-slide-visible .slide-2-7 {
  -webkit-animation: rotateIn 1s ease-out 2.1s both;
  animation: rotateIn 1s ease-out 2.1s both; }
.swiper-slide-visible .slide-2-8 {
  -webkit-animation: flipInX 1s ease-out 1.5s both;
  animation: flipInX 1s ease-out 1.5s both; }
.swiper-slide-visible .slide-2-9 {
  -webkit-animation: flipInX 1s ease-out 2s both;
  animation: flipInX 1s ease-out 2s both; }
.swiper-slide-visible .slide-2-10 {
  -webkit-animation: flipInX 1s ease-out 2.5s both;
  animation: flipInX 1s ease-out 2.5s both; }
.swiper-slide-visible .slide-2-4 {
  -webkit-animation: fadeIn 1s ease-out 1.2s both;
  animation: fadeIn 1s ease-out 1.2s both; }
.swiper-slide-visible .slide-2-11 {
  -webkit-animation: bounceInDown 1s ease-out 0.8s both;
  animation: bounceInDown 1s ease-out 0.8s both; }
.swiper-slide-visible .iphone-content-1 {
  -webkit-animation: bounceIn 1s ease-out 1.6s both;
  animation: bounceIn 1s ease-out 1.6s both; }
.swiper-slide-visible .iphone-content-2 {
  -webkit-animation: bounceIn 0.8s ease-out 1.8s both;
  animation: bounceIn 0.8s ease-out 1.8s both; }
.swiper-slide-visible .iphone-content-3 {
  -webkit-animation: fadeInDown 0.6s ease-out 2s both;
  animation: fadeInDown 0.6s ease-out 2s both; }
.swiper-slide-visible .iphone-content-4 {
  -webkit-animation: flipInX 1s ease-out 2.2s both;
  animation: flipInX 1s ease-out 2.2s both; }
.swiper-slide-visible .iphone-content-5 {
  -webkit-animation: bounceInDown 1s ease-out 2.4s both;
  animation: bounceInDown 1s ease-out 2.4s both; }
.swiper-slide-visible .iphone-content-6 {
  -webkit-animation: bounceIn 1s ease-out 2.8s both;
  animation: bounceIn 1s ease-out 2.8s both; }
.swiper-slide-visible .hover-bounceIn {
  -webkit-animation: bounceIn 1s ease-out 0.2s both;
  animation: bounceIn 1s ease-out 0.2s both; }
.swiper-slide-visible .hover-bounceOut {
  -webkit-animation: bounceOut 0.8s ease-out 0s both;
  animation: bounceOut 0.8s ease-out 0s both; }
.swiper-slide-visible .hover-pulse {
  -webkit-animation: pulse 1s linear 0s both infinite;
  animation: pulse 1s linear 0s both infinite; }
.swiper-slide-visible .hover-rubberBand {
  -webkit-animation: rubberBand 1s ease 0s both infinite;
  animation: rubberBand 1s ease 0s both infinite; }
.swiper-slide-visible .hover-swing {
  -webkit-animation: swing 1s ease-out 0s both infinite;
  animation: swing 1s ease-out 0s both infinite; }
.swiper-slide-visible .hover-flipInY {
  -webkit-animation: flipInY 1s ease-out 0.3s both;
  animation: flipInY 1s ease-out 0.3s both; }
.swiper-slide-visible .hover-tada-infinite-1 {
  -webkit-animation: tada 1s linear 0s both infinite;
  animation: tada 1s linear 0s both infinite; }
.swiper-slide-visible .hover-tada-infinite-2 {
  -webkit-animation: tada 1s linear 0.2s both infinite;
  animation: tada 1s linear 0.2s both infinite; }
.swiper-slide-visible .hover-flipInY-2 {
  -webkit-animation: flipInY 0.8s ease-out 0.6s both;
  animation: flipInY 0.8s ease-out 0.6s both; }
.swiper-slide-visible .hover-flipInY-3 {
  -webkit-animation: flipInY 0.8s ease-out 0.9s both;
  animation: flipInY 0.8s ease-out 0.9s both; }
.swiper-slide-visible .hover-flipInY-4 {
  -webkit-animation: flipInY 0.8s ease-out 1.1s both;
  animation: flipInY 0.8s ease-out 1.1s both; }
.swiper-slide-visible .hover-flipInY-5 {
  -webkit-animation: flipInY 0.8s ease-out 1.3s both;
  animation: flipInY 0.8s ease-out 1.3s both; }
.swiper-slide-visible .hover-flipInX-6 {
  -webkit-animation: flipInX 0.8s ease-out 1.5s both;
  animation: flipInX 0.8s ease-out 1.5s both; }
.swiper-slide-visible .hover-flipInY-7 {
  -webkit-animation: flipInY 0.8s ease-out 1.7s both;
  animation: flipInY 0.8s ease-out 1.7s both; }
.swiper-slide-visible .hover-bounce {
  -webkit-animation: bounce 1s ease 0s both infinite;
  animation: bounce 1s ease 0s both infinite; }

.swiper-slide-visible img.slide-3-1 {
  -webkit-animation: bounceInDown 0.7s ease-out 0s both;
  animation: bounceInDown 0.7s ease-out 0s both; }
.swiper-slide-visible img.slide-3-2 {
  -webkit-animation: bounceInDown 1s ease-out 0.2s both;
  animation: bounceInDown 1s ease-out 0.2s both; }
.swiper-slide-visible img.slide-3-3 {
  -webkit-animation: bounceIn 1s ease-out 1s both;
  animation: bounceIn 1s ease-out 1s both; }
.swiper-slide-visible img.slide-3-6 {
  -webkit-animation: flipInX 1s ease-out 1.2s both;
  animation: flipInX 1s ease-out 1.2s both; }
.swiper-slide-visible img.slide-3-7 {
  -webkit-animation: flipInX 1s ease-out 9.2s both;
  animation: flipInX 1s ease-out 9.2s both; }
.swiper-slide-visible #shadow-3 {
  -webkit-animation: fadeIn 1s ease-out 1.2s both;
  animation: fadeIn 1s ease-out 1.2s both; }
.swiper-slide-visible img.slide-3-4 {
  -webkit-animation: fadeIn 1s ease-out 1s both;
  animation: fadeIn 1s ease-out 1s both; }
@-webkit-keyframes ufo {
  0% {
    opacity: 0; }
  3%, 90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes ufo {
  0% {
    opacity: 0; }
  3%, 90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.swiper-slide-visible img.iphone-content-3-1 {
  -webkit-animation: ufo 9s ease-out 1s both;
  animation: ufo 9s ease-out 1s both; }
.swiper-slide-visible img.iphone-content-3-2 {
  -webkit-animation: bounceIn 1s ease-out 9.8s both;
  animation: bounceIn 1s ease-out 9.8s both; }
.swiper-slide-visible img.iphone-content-3-3 {
  -webkit-animation: bounceIn 0.8s ease-out 10.3s both;
  animation: bounceIn 0.8s ease-out 10.3s both; }
.swiper-slide-visible img.iphone-content-3-4 {
  -webkit-animation: flipInY 0.8s ease-out 10.8s both;
  animation: flipInY 0.8s ease-out 10.8s both; }
.swiper-slide-visible img.iphone-content-3-5 {
  -webkit-animation: bounceIn 0.8s ease-out 11.3s both;
  animation: bounceIn 0.8s ease-out 11.3s both; }
.swiper-slide-visible img.iphone-content-3-6 {
  -webkit-animation: flipInY 0.8s ease-out 11.8s both;
  animation: flipInY 0.8s ease-out 11.8s both; }
.swiper-slide-visible img.iphone-content-3-7 {
  -webkit-animation: bounceIn 0.8s ease-out 12.3s both;
  animation: bounceIn 0.8s ease-out 12.3s both; }
.swiper-slide-visible img.iphone-content-3-8 {
  -webkit-animation: flipInY 0.8s ease-out 12.8s both;
  animation: flipInY 0.8s ease-out 12.8s both; }
.swiper-slide-visible img.iphone-content-3-9 {
  -webkit-animation: bounceIn 0.8s ease-out 13.3s both;
  animation: bounceIn 0.8s ease-out 13.3s both; }
.swiper-slide-visible img.iphone-content-3-10 {
  -webkit-animation: flipInY 0.8s ease-out 13.8s both;
  animation: flipInY 0.8s ease-out 13.8s both; }
.swiper-slide-visible img.iphone-content-3-11 {
  -webkit-animation: bounceIn 0.8s ease-out 14.3s both;
  animation: bounceIn 0.8s ease-out 14.3s both; }
.swiper-slide-visible img.iphone-content-3-12 {
  -webkit-animation: flipInY 0.8s ease-out 14.8s both;
  animation: flipInY 0.8s ease-out 14.8s both; }
.swiper-slide-visible img.iphone-content-3-13 {
  -webkit-animation: bounceIn 0.8s ease-out 15.8s both;
  animation: bounceIn 0.8s ease-out 15.8s both; }

.swiper-slide-visible .slide-4-1 {
  -webkit-animation: bounceInDown 0.7s ease-out 0s both;
  animation: bounceInDown 0.7s ease-out 0s both; }
.swiper-slide-visible .slide-4-2 {
  -webkit-animation: bounceInDown 1s ease-out 0.2s both;
  animation: bounceInDown 1s ease-out 0.2s both; }
.swiper-slide-visible .slide-4-3 {
  -webkit-animation: bounceIn 1s ease-out 1s both;
  animation: bounceIn 1s ease-out 1s both; }
.swiper-slide-visible .slide-4-4 {
  -webkit-animation: fadeIn 1s ease-out 1.2s both;
  animation: fadeIn 1s ease-out 1.2s both; }
.swiper-slide-visible .slide-4-5 {
  -webkit-animation: flipInY 1s ease-out 1.4s both;
  animation: flipInY 1s ease-out 1.4s both; }
.swiper-slide-visible .slide-4-6 {
  -webkit-animation: fadeIn 1s ease-out 1.6s both;
  animation: fadeIn 1s ease-out 1.6s both; }
.swiper-slide-visible .iphone-content-4-1 {
  -webkit-animation: flipInX 1s ease-out 1.8s both;
  animation: flipInX 1s ease-out 1.8s both; }
.swiper-slide-visible .iphone-content-4-2 {
  -webkit-animation: bounceIn 1s ease-out 2s both;
  animation: bounceIn 1s ease-out 2s both; }
.swiper-slide-visible .iphone-content-4-2-2 {
  -webkit-animation: bounce 1s ease-out 0s both;
  animation: bounce 1s ease-out 0s both; }
.swiper-slide-visible .iphone-content-4-3 {
  -webkit-animation: bounceIn 1s ease-out 2.2s both;
  animation: bounceIn 1s ease-out 2.2s both; }
.swiper-slide-visible .iphone-content-4-4 {
  -webkit-animation: bounceIn 1s ease-out 2.4s both;
  animation: bounceIn 1s ease-out 2.4s both; }
.swiper-slide-visible .iphone-content-4-5 {
  -webkit-animation: bounceIn 1s ease-out 2.6s both;
  animation: bounceIn 1s ease-out 2.6s both; }
.swiper-slide-visible .iphone-content-4-6 {
  -webkit-animation: flipInX 1s ease-out 2.6s both;
  animation: flipInX 1s ease-out 2.6s both; }
.swiper-slide-visible .slide-4-7 {
  -webkit-animation: flipInY 1s ease-out 1.6s both;
  animation: flipInY 1s ease-out 1.46s both; }
.swiper-slide-visible .slide-4-8 {
  -webkit-animation: flipInY 1s ease-out 1.8s both;
  animation: flipInY 1s ease-out 1.68s both; }
.swiper-slide-visible .slide-4-9 {
  -webkit-animation: flipInY 1s ease-out 2s both;
  animation: flipInY 1s ease-out 2s both; }
.swiper-slide-visible .slide-4-10 {
  -webkit-animation: bounceIn 0.8s ease-out 2.2s both;
  animation: bounceIn 0.8s ease-out 2.2s both; }
.swiper-slide-visible .slide-4-11 {
  -webkit-animation: bounceIn 0.8s ease-out 2.4s both;
  animation: bounceIn 0.8s ease-out 2.4s both; }

.swiper-slide-visible .slide-5-1 {
  -webkit-animation: bounceIn 0.8s ease-out 0.4s both;
  animation: bounceIn 0.8s ease-out 0.4s both; }
.swiper-slide-visible .slide-5-2 {
  -webkit-animation: flipInX 1s ease-out 0.7s both;
  animation: flipInX 1s ease-out 0.7s both; }

/*# sourceMappingURL=index.css.map */
